@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-y: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    overflow-y: auto; 
}

#sidebar {
    width: 100%; /* Full width at the top */
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.p-3 {
    padding: 1rem;
}

.bg-dark {
    background-color: #0e2238;
}

.text-white {
    color: white;
}

.sidebar-logo {
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-logo a {
    color: #FFF;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-nav {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #0e2238;
}

.sidebar-nav .sidebar-item {
    padding: 1rem;
    margin: 0 0.5rem;
}

.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-footer {
    background-color: #0e2238;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.sidebar-footer .sidebar-item {
    margin: 0 1rem;
}

.form-check {
    display: flex;
    justify-content: center;
}

.form-check .form-check-input {
    margin-left: 1rem;
}

.gradient-custom-2 {
    background: #fccb90;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.info-card {
    border-radius: 20px;
    position: relative;
    padding: 20px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
}

.info-card .icon-bg {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 5rem;
    opacity: 0.1;
}

.info-card .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.info-card .progress {
    height: 5px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}

.card-gradient-pink {
    background: linear-gradient(45deg, #d4145a, #fbb03b);
}

.card-gradient-blue {
    background: linear-gradient(45deg, #1e3c72, #2a5298);
}

.percentage {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.8);
}

.percentage i {
    margin-left: 5px;
}

.card-text-large {
    font-size: 2.5rem;
}
